# OS files
.DS_Store
Thumbs.db
db.lock

# IDE/Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node / Build Outputs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel & Deployments
.vercel/
.next/
out/
dist/

# Extension builds (if zipped)
*.zip
*.crx
*.xpi
